body {
	font-family:  "Open Sans", sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.navigation {
	width: 100%;
	height: auto;
	background-color: rgba(16, 22, 54, 0.25);
	padding: 0 0 20px 0;
	position: fixed;
	z-index: 999;
}

.navbar {
	margin: 20px 0;
}

.navigation-logo {
	float: left;
	font-family: "Pacifico", cursive;
	font-size: 28px;
	color: #ffffff;
}

.navigation-tagline {
	float: left;
	margin: 0 25px;
	padding: 5px 25px;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.5);
	border-left: 1px solid #32b0ee;
}

.navigation-menu {
	float: right;
}

.navigation-menu ul li {
	display: inline-block;
}

.navigation-menu ul li a {
	text-decoration: none;
	font-size: 13px;
	color: #ffffff;
	padding: 18px 15px 30px 15px;
}

.navigation-menu ul li a:hover {
	border-top: 3px solid #32b0ee;
}

.header {
	background-image: url(../images/banner.jpg);
	background-position: center;
}

.header-info {
	text-align: center;
	padding: 380px 0 50px 0;

}

.header-title h1 {
	font-size: 62px;
	color: #ffffff;
	font-weight: 300;
}

.header-title span {
	color: #ffffff;
}

.header-title h1 span {
	font-weight: bold;
}

.header-subtitle h2 {
	font-size: 48px;
	color: #ffffff;
	font-weight: 300;
}

.header-subtitle h2 span {
	color: #0feb9e;
}

.header-text h3 {
	font-size: 18px;
	color: #ffffff;
	font-weight: 300;
	padding-top: 25px;
}

.header-social {
	padding-top: 80px;
}

.header-social ul li {
	display: inline-block;
}

.header-social ul li a {
	width: 16px;
	height: 16px;
	display: block;
    text-indent: -99999px;
}

.twitter {
	background-image: url(../images/twitter.png);
}

.facebook {
	background-image: url(../images/facebook.png);
}

.google-plus {
	background-image: url(../images/google-plus.png);
}

.internet {
	background-image: url(../images/internet.png);
}

.features {
	background-color: #f4f7f9;
	padding: auto 0;
}

.title {
	text-align: center;
	font-size: 28px;
	color: #0eb493;
	padding-top: 100px;
	text-transform: uppercase;
	font-weight: 800;
}

.heart {
	padding-top: 15px;
}

.heart:before {
	content: " ";
	display: inline-block;
	margin: 8px;
	width: 100px;
	border-bottom: 1px solid #979899;
}

.heart:after {
	content: " ";
	display: inline-block;
	margin: 8px;
	width: 100px;
	border-bottom: 1px solid #979899;
}

.content {
	padding-top: 60px;
	text-align: center;
}

.column {
	display: inline-flex;
	width: 32%;
	padding-bottom: 100px;
}

.features-icon {
	display: inline-block;
	vertical-align: top;
}

.features-icon img {
	width: 45px;
	height: 45px;
}

.features-text {
	display: inline-block;
	padding-left: 20px;
}

.column h3 {
	font-weight: bold;
	font-size: 20px;
	text-align: left;
}

.column p {
	font-size: 13px;
	text-align: left;
	font-weight: 400;
	color: #979899;
	padding-top: 25px;
}

.info {
	font-size: 18px;
	color: #062033;
	width: 80%;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	font-weight: 600;
}

.works-navigation {
	text-align: center;
}

.works-navigation ul li {
	display: inline-block;
}

.works-navigation ul li a {
	text-decoration: none;
	font-size: 14px;
	color: #062033;
	font-weight: bold;
	padding: 5px 20px;
}

.works-navigation ul li a:hover {
	color: #ffffff;
	background-color: #0eb493;
	border-radius: 5px;
}

.works-images {
	font-size: 0;
	margin: 40px 0;
}

.works-images-link {
	width: 25%;
	position: relative;
	display: inline-block;
	font-size: 1rem;
	overflow: hidden;
	font-size: 0;
}

.works-img {
	width: 100%;
	height: auto;
	text-align: center;
}

.works-images-text {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(14,180,147,0.9);
	color: #fff;
	left: 0;
	top: 100%;
	text-align: center;
}

.works-images-link:hover .works-images-text {
	top: 0;
}

.works-eye {
	width: 48px;
	height: 48px;
	padding: 90px 0 40px 0;
}

.works-images-text h3 {
	display: inline;
	font-weight: bold;
	font-size: 18px;
}

.works-images-text h6 {
	font-size: 14px;
	margin: 10px;
}

.profile {
	position: relative;
	display: inline-block;
	font-size: 1rem;
	overflow: hidden;
	margin: 0 25px 45px 0;
	text-align: center;
}

.profile h4 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
}

.profile h6 {
	font-size: 13px;
	margin-top: 10px;
	color: #898989;
}

.profile:hover .profile-info {
	top: 0;
	height: 83%;
}

.profile:hover h4 {
	color: #0eb493;
}

.profile-info {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(14,180,147,0.90);
	color: #fff;
	left: 0;
	top: 100%;
	text-align: center;
}

.profile-info h3 {
	font-size: 16px;
	font-weight: bold;
	margin: 25px 20px 0 20px;
	text-align: center;
	line-height: 25px;
}

.profile-info p {
	font-size: 16px;
	text-align: center;
	margin: 15px 20px 0 20px;
	line-height: 25px;
}

.profile-social {
	margin-top: 40px;
}

.profile-social ul li {
	display: inline;
}

.profile-social ul li a {
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.4);
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 1px;
}

.profile-social ul li a img {
	width: 60%;
	margin-top: 8px;
}

.some-fun-facts {
	background-image: url(../images/city.jpg);
}

.some-fun-facts-info {
	text-align: center;
	margin-top: 30px;
	padding-bottom: 100px;
}

.some-fun-facts-info ul li {
	display: inline-block;
	margin: auto 70px;
}

.some-fun-facts-info h3 {
	font-size: 60px;
	font-weight: bold, 600;
	color: #fff;
	margin-top: 50px;
}

.some-fun-facts-info h6 {
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 10px;
}

.lets-discuss-info {
	display: inline-block;
	position: absolute;
	width: 100%;
}

.address {
	float: left;
	width: 25%;
	position: relative;
}

.address h4 {
	font-size: 22px;
	line-height: 30px;
}

.address p {
	font-size: 13px;
	line-height: 25px;
	color: #888c90;
}

.lets-discuss-detail {
	margin: 30px auto;
}

.form {
	width: 70%;
	position: relative;
	float: left;
}

.form .lets-discuss-info-title {
	margin-top: 4px;
	font-size: 24px;
	font-weight: bold;
}

.form .lets-discuss-detail {
	padding-top: 30px;
}

.lets-discuss-detail .name,
.lets-discuss-detail .email {
	width: 45%;
	position: relative;
	margin-right: 20px;
}

.lets-discuss-detail .message {
	width: 93.5%;
	padding-top: 50px;
}

.lets-discuss-detail input {
	outline: none;
	border: none;
	border-bottom: 2px solid #d0cccc;
	padding-bottom: 15px;
}

.lets-discuss-detail .envelope {
	float: right;
	margin-right: 15px;
	padding: 30px 0 100px 0;
}

.lets-discuss-detail .send {
	background-color: transparent;
	border: none;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.7);
	padding: 30px 55px 0 0;
	float: right;
	font-weight: bold;
}

.social {
	float: left;
	margin: 0 15px;
}

.social ul li {
	padding-top: 15px;
}

.footer {
	background-color: #1b987e;
	border-top: 3px solid black;
	padding: 100px 0;
}

.footer-column {
	width: 22%;
	display: inline-block;
	line-height: 25px;
	padding-right: 30px;
}

.footer .footer-column {
	display: inline-block;
}

.footer-title {
	font-size: 28px;
	color: #ffffff;
	font-family: "Pacifico", cursive;
}

.footer-info {
	font-size: 13px;
	color: #ffffff;
	padding-top: 40px;
}

.footer-title h5 {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
}

.newsletter {
    background-color: transparent;
    border: 2px solid #FFF;
    width: 90%;
    padding: 12px;
    border-radius: 3px;
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    outline: none;
}

.footer-info input {
	margin-top: 23px;
}

.footer-info p {
	padding-top: 20px;
}

.footer-info ul {
	display: inline-block;
	margin-right: 35px;
	padding-top: 10px;
}

.footer-info ul li a {
	text-decoration: none;
	color: #ffffff;
	line-height: 33px;
}

.credit {
	margin-top: 30px;
	padding-left: 10px;
}

.footer-info h6 {
	width: 80%;
	border-left: 1px solid gray;
	padding-left: 10px;
}

.footer-info a {
	text-decoration: none;
}

span {
	color: #000;
}