* {
	box-sizing: border-box;
}

body {
	margin: auto;
	font-family: "Open Sans", sans-serif;
}

.navigation {
	background-color: rgba(16,22,54,0.25);
	display: inline-block;
	width: 100%;
	padding: 0;
	position: fixed;
	z-index: 999;
}

.logo {
	font-family: "Pacifico", cursive;
	color: #FFF;
	float: left;
	padding: 20px 0 20px 0;
	font-size: 28px;
}

.tagline {
	font-family: "Open Sans", sans-serif;
	color: #cbc2c2;
	float: left;
	margin: 27px 0 27px 30px;
	padding: 3px 0 3px 25px;
	border-left: 0.5px solid #32b0ee;
	font-size: 13px;
}

.navigation ul {
	padding: 0;
	margin: 0;
	list-style: none;
	float: top;
	float: right;
}

.navigation ul li {
	display: inline;
}

.navigation ul li a {
	padding: 29px 15px;
	display: inline-block;

	/*Visual do link*/
	color: #FFF;
	text-decoration: none;
	border-top: 2px solid transparent;
	font-size: 13px;
}

.navigation ul li a:hover {
	border-top-color: #32b0ee;
}

.container-menu {
	max-width: 1200px;
	margin: 0 auto;
}

.banner {
	background-image: url(../images/banner.jpg);
	height: 600px;
	background-size: cover;
	background-position: center;
}

.icones-redes-sociais {
	position: relative;
	text-align: center;
	padding-top: 80px;
}

.icones-redes-sociais li {
	display: inline-block;
}

.icones-redes-sociais a {
	width: 16px;
    height: 16px;
    display: block;
    text-indent: -99999px;
}

.twitter {
	background-image: url(../images/twitter.png);
}

.facebook {
	background-image: url(../images/facebook.png);
	margin-left: 5px;
}

.google-plus {
	background-image: url(../images/google-plus.png);
	margin-left: 5px;
}

.internet {
	background-image: url(../images/internet.png);
	margin-left: 5px;
}

.title-general {
	color: #FFF;
	text-align: center;
	padding-top: 310px;
	font-size: 62px;
	font-weight: 300;
}

.title-general span {
	font-weight: bold;
}

.subtitle {
	color: #FFF;
	text-align: center;
	font-size: 48px;
	font-weight: 300;
}

.subtitle span {
	color: #0feb9e;
	font-weight: 300;
}

.text-banner {
	color: #FFF;
	text-align: center;
	padding-top: 10px;
	font-size: 18px;
	font-weight: 300;
}

.text-banner span {
	color: #0feb9e;
}

.container {
	padding: 100px 0;
}

.container-features {
	background-color: #f4f7f9;
	padding: 100px 0;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	color: #0eb493;
}

.heart {
	text-align: center;
	padding-top: 20px;
}

.heart:after {
	content: " ";
	display: inline-block;
	margin: 8px;
	width: 100px;
	border-bottom: 1px solid #979899;
}

.heart:before {
	content: " ";
	display: inline-block;
	margin: 8px;
	width: 100px;
	border-bottom: 1px solid #979899;
}

.subtitle-features {
	font-size: 20px;
	font-weight: bold;
}

.content {
	padding-top: 60px;
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.column {
	color: #062033;
	display: inline-block;
	width: 33%;
}

.features-icon {
	display: inline-block;
	vertical-align: top;
}

.features-icon img {
	width: 45px;
	height: 45px;
}

.column .features-text {
  display: inline-block;
  width: 85%;
  padding-left: 20px;
}

.column h3 {
	font-weight: bold;
	font-size: 20px;
	text-align: left;
}

.column p {
	font-size: 13px;
	text-align: left;
	font-weight: 400;
	color: #979899;
	padding-top: 25px;
}

.title-works {
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	color: #0eb493;
	padding-top: 80px;
	margin-top: 370px;
}

.works-text {
	margin: 40px auto;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #062033;
	max-width: 900px;
}

.works-navigation {
	text-align: center;
}

.works-navigation ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.works-navigation ul li {
	display: inline;
}

.works-navigation ul li a {
	padding: 10px 20px;
	display: inline-block;
	margin-bottom: 25px;

	/* Visual do link */
	color: #062033;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

.works-navigation ul li a:hover{
	color: #FFF;
	background-color: #062033; 
	/*0eb493*/
}

.container a {
	margin: 0;
}

.text-images-works h3 {
	display: inline;
	font-weight: bold;
	font-size: 18px;
}

.text-images-works h6 {
	font-size: 14px;
	margin: 10px;
}

.icon-eye img {
	width: 48px;
	height: 48px;
	margin: 80px auto 30px auto;
}

.container-works {
	font-size: 0;
}

.works-item {
	width: 25%;
	position: relative;
	display: inline-block;
	font-size: 1rem;
	overflow: hidden;
	font-size: 0;
}

.image-works {
	width: 100%;
	height: auto;
	text-align: center;
}

.text-images-works {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(14,180,147,0.9);
	color: #fff;
	left: 0;
	top: 100%;
	text-align: center;
}

.works-item:hover .text-images-works {
	top: 0;
}

.container-team {
	margin: 0 0 50px 0;
}

.text-meet-our-team {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #062033;
	width: 73%;
	margin: 30px auto;
}

.container-team {
	text-align: center;
}

.profile h4 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
}

.profile h6 {
	font-size: 13px;
	margin-top: 10px;
	color: #898989;
}

.profile {
	position: relative;
	display: inline-block;
	font-size: 1rem;
	overflow: hidden;
	margin: 0 25px 45px 0;
}

.data-profile {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(14,180,147,0.90);
	color: #fff;
	left: 0;
	top: 100%;
	text-align: center;
}

.data-profile h3 {
	font-size: 16px;
	font-weight: bold;
	margin: 25px 20px 0 20px;
	text-align: center;
	line-height: 25px;
}

.data-profile p {
	font-size: 16px;
	text-align: center;
	margin: 15px 20px 0 20px;
	line-height: 25px;
}

.profile:hover .data-profile {
	top: 0;
	height: 83%;
}

.profile:hover h4 {
	color: #0eb493;
}

.icon-social-profile {
	margin-top: 40px;
}

.icon-social-profile ul li {
	display: inline;
}

.icon-social-profile ul li a {
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.4);
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 1px;
}

.icon-social-profile ul li a img {
	width: 60%;
	margin-top: 8px;
}

.title-some-fun-facts {
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	color: #0eb493;
}

.some-fun-facts {
	background-image: url(../images/city.jpg);
	background-size: cover;
	background-position: center;
}

.info-some-fun-facts {
	text-align: center;
	margin-top: 30px;
}

.info-some-fun-facts ul li {
	display: inline-block;
	margin: auto 70px;
}

.info-some-fun-facts h3 {
	font-size: 60px;
	font-weight: bold, 600;
	color: #fff;
	margin-top: 50px;
}

.info-some-fun-facts h6 {
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 10px;
}

.title-lets-discuss {
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	color: #0eb493;
}

.container-lets-discuss {
	padding: 100px 0 0 0;
}

.text-lets-discuss {
	margin: 40px auto;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #062033;
	max-width: 80%;
}

.info-lets-discuss {
	margin: 20px auto;
	display: block;
	width: 90%;
}

.subtitle-lets-discuss {
}

.detail-lets-discuss {
	margin: 30px auto;
}

.address {
	width: 20%;
	float: left;
}

.address h4 {
	font-size: 22px;
	line-height: 30px;
}

.address p {
	font-size: 13px;
	line-height: 20px;
	color: #888c90;
}

.say-hello {
	float: left;
	width: 70%;
}

.say-hello h3 {
	font-size: 24px;
	font-weight: bold;
}

#formulario {
	padding-top: 25px;
}

#formulario label {
	position: absolute;
	font-size: 13px;
}

#formulario input {
	width: 49.5%;
	display: inline-block;
	border: none;
	border-bottom: 1px solid #888888;
}

#formulario textarea {
	width: 100%;
	border: none;
	border-bottom: 1px solid #888888;
	padding-top: 10px;
}

.say-hello-social {
	width: 30px;
	float: right;
	margin-bottom: 100px;
}

.say-hello-social ul li {
	padding: 5px 0;
}

.btn_submit {
	font-size: 16px;
	font-weight: bolder, 600;
	float: right;
	margin: 30px 0;
}

input.name, .email, .message {
    border: 2px solid #FFF;
    border-radius: 3px;
    font-weight: 300;
    outline: none;
}

.map {
	border-bottom: 4px solid #000;
}

.map iframe {
	max-width: 100%;
}

.container-footer {
	padding: 100px 0;
	background-color: #21b697;
	width: 100%;
	float: left;
}

.footer {
	margin: 0 auto;
	width: 90%;
}

.footer-logo {
	font-family: "Pacifico", cursive;
	color: #FFF;
	font-size: 28px;
}

.info-footer {
	margin-top: 40px;
}

.subscribe {
	padding-top: 25px;
}

.info-footer ul li {
	margin-bottom: 16px;
	margin-right: 25px;
}

.footer-column {
	float: left;
	width: 20%;
	margin-right: 50px;

}

.footer-column p {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: #fff;
	line-height: 23px;
}

.footer-column h5 {
	color: #fff;
	font-weight: bold;
	padding-top: 10px;
}

.footer-column ul {
	display: inline-block;
}

.footer-column ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}

.footer-column h6 {
	font-size: 13px;
	color: #fff;
	border-left: 1px solid #95989b;
	line-height: 25px;
	padding-left: 20px;
}

.footer-column h6 a {
	text-decoration: none;
	color: #000;
	font-weight: 600;
}

.footer-column p span {
	color: #000;
	font-weight: 600;
	padding-left: 20px;
}

.credit {
	padding-top: 45px;
}

.footer-empty {
	padding-bottom: 25px;
}

input.newsletter {
    background-color: transparent;
    border: 2px solid #FFF;
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    outline: none;
}